<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 class="text-center mt-5">Weather Application</h1>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 mt-5 mb-5">
            <input type="text" class="form-control" placeholder="enter location" #inpt>
            <button class="btn btn btn-outline-success mt-3" (click)="findweather(inpt)">Find</button>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<!-- <div class="container mt-5"> -->
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                  Weather Report
                </div>
                <div class="card-body">
                  <h5 class="card-title">Location: <span id="location">{{wdata.lname}}</span></h5>
                  <p class="card-text">
                    <i class="fas fa-thermometer-half fa-lg mr-2"></i>Temperature: <span id="temperature">{{wdata.temp}}</span>°F
                  </p>
                  <p class="card-text">
                    <i class="fas fa-tint fa-lg mr-2"></i>Humidity: <span id="humidity">{{wdata.humidity}}</span>%
                  </p>
                  <p class="card-text">
                    <i class="fas fa-wind fa-lg mr-2"></i>Wind Speed: <span id="wind_speed">{{wdata.windspeed}}</span> mph
                  </p>
                  <p class="card-text">Description: <span id="description">{{wdata.description}}</span></p>
                </div>
              </div>
        </div>
        <div class="col-3"></div>
    </div>
<!-- </div> -->